<h1 style="text-align:center"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><span style="font-size:18px"><strong>Ansible month-3 lab demo</strong></span></span></h1>
 
<p style="text-align:center">This month we covered using when statements with facts and registers, tags, grouping with blocks, and standard loops</p>
 
<table align="center" border="1" cellpadding="10" cellspacing="1" style="width:1000px">
    <tbody>
        <tr>
            <td style="width:306px">
            <h3 style="text-align:center"><a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_conditionals.html#basic-conditionals-with-when"><strong>When statement with facts</strong></a></h3>
 
            <p>Control task execution with property scanned from host</p>
            </td>
            <td style="background-color:#eeeeee; width:300px">
            <h3 style="text-align:center"><a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_conditionals.html#conditions-based-on-registered-variables"><strong>When statements with registers</strong></a></h3>
 
            <p>Control task execution with the output of a task</p>
            </td>
            <td style="width:322px">
            <h3 style="text-align:center"><a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_tags.html"><strong>Tags</strong></a></h3>
 
            <p>Selective control of task execution using --tags, --list-tags, or --skip-tags</p>
            </td>
        </tr>
        <tr>
            <td style="background-color:#eeeeee; width:306px">
            <h3 style="text-align:center"><a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_blocks.html"><strong>Grouping with blocks</strong></a></h3>
 
            <ul>
                <li>Combines serveral tasks into a single task</li>
                <li>Frequently combined with when statement</li>
            </ul>
            </td>
            <td style="width:300px">
            <h3 style="text-align:center"><a href="https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_loops.html#loops"><strong>Standard loops</strong></a></h3>
 
            <ul>
                <li>loop</li>
                <li>with_items</li>
            </ul>
            </td>
            <td style="background-color:#eeeeee; width:322px">
            <h3 style="text-align:center"><strong>Other items</strong></h3>
 
            <ul>
                <li><a href="https://docs.ansible.com/ansible/latest/os_guide/windows_winrm.html">Connecting to Windows with Ansible</a></li>
                <li>Output a file with terraform (hosts.ini)</li>
                <li>Created keyvault and cert in terraform</li>
                <li>Added shutdown schedule in terraform</li>
            </ul>
            </td>
        </tr>
    </tbody>
</table>
 
<p style="text-align:center"><strong><span style="font-size:20px">{{ your_name }}</span></strong></p>
 
<p> </p>
